

  <!-- Footer -->
    <div id="footer">
      <section class="container">
        <header class="major">
          <h2>ThreeMusesGlass</h2>
          <span class="byline">Handmade Glass</span>
        </header>

<!--
        <ul class="icons">
          <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
          <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
          <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
        <hr />
      </section>

-->
      
      <!-- Copyright -->
        <div id="copyright">
          Design Based On: <a href="http://templated.co/solarize" target="_blank">SOLARIZE</a> BY: <a href="http://templated.co" target="_blank">TEMPLATED</a>
        </div>      
    </div>

 <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  
  <!--
  <script type="text/javascript" src="{{=URL('static','js/lodash.min.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/s3upload.js')}}"></script>
  -->


    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

    <!-- remomve if this cuases problems -->





    <script type="text/javascript" src="{{=URL('static','template/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','template/js/jquery.dropotron.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','template/js/skel.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','template/js/skel-layers.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','template/js/init.js')}}"></script>


    <script type="text/javascript" src="{{=URL('static','js/3muses.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>


  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>

</body>

</html>