<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ThreeMusesGlass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{ =URL('static', 'apple-touch-icon.png') }}">

        <link href="{{ =URL('static','favicon.ico') }}" rel="icon" type="image/x-icon" />

        <link rel="stylesheet" href="{{ =URL('static', 'css/web2py_excerpts.css') }}">

        <link rel="stylesheet" href="{{ =URL('static', 'css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ =URL('static', 'css/bootstrap-theme.min.css') }}">

        <link rel="stylesheet" href="{{ =URL('static', 'css/main.css') }}">



        <!--<link rel="stylesheet" href="cbcb =URL('static', 'css/assets_custom.css') cbcb">-->



        <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->

        <!-- For please wait modal -->
        <!-- 
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
        -->


        <link rel="stylesheet" href="{{ =URL('static', 'css/3muses.css') }}">
        <link rel="stylesheet" href="{{ =URL('static', 'css/tmg_conditional.css') }}">
        <link rel="stylesheet" href="{{ =URL('static', 'css/tmg_auth.css') }}">




        <script src="{{ =URL('static', 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>

    <!--
    {#{ if request.args(0)==None: }#}
    <body id="{#{ =request.env.web2py_original_uri[1:] }#}">
    {#{ else: }#}
    <body id="{#{ =request.args(0) }#}">
    {#{ pass}#} 
    -->

    <body id="{{ =request.function }}">

    <div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>
    
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-tmg" href="{{ =URL('default', 'index') }}">ThreeMusesGlass</a>
        </div>



        <div id="navbar" class="navbar-collapse collapse">


      <ul class="nav navbar-nav navbar-right navbar-right-tmg">
        

    {{if auth.has_membership('admin'):}}
      <li class="dropdown">
        {{admin_url=""}}
        {{if request.env.http_host[:9]=="localhost":}}
          
        {{else:}}
          {{admin_url+=request.env.wsgi_url_scheme}}
        {{pass}}
        {{admin_url+=request.env.http_host}}
        {{admin_url+='/admin/site'}}
        
        <a href="{{=admin_url}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_blank">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{=URL('manage_products')}}">Manage Products</a></li>
          <li><a href="{{=URL('manage_product_images')}}">Manage Product Images</a></li>
          <li><a href="{{=URL('manage_categories')}}">Manage Categories</a></li>
          <li><a href="{{=URL('manage_landing_page_images')}}">Manage Landing Page Images</a></li>
          <li><a href="{{=URL('manage_purchase_history_data')}}">Manage Purchase History</a></li>
          <li><a href="{{=URL('manage_purchase_history_products')}}">Manage Purchased Products</a></li>
          <li><a href="{{=URL('reset_inventory')}}">Reset Inventory</a></li>
        </ul>
      </li>

    {{pass}}



        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {{categories=db(db.categories.is_active==True).select(orderby=db.categories.display_order)}}
          {{for row in categories:}}
            <li><a href="{{=URL('display/'+str(row.category_name.replace(" ","_")))}}">{{=T(row.category_name)}}</a></li>
          {{pass}}
            <li class="divider"></li>
            <li><a href="{{ =URL('categories') }}">All Categories</a></li>
          </ul>
        </li>


        <li><a href="{{ =URL('cart') }}">Cart</a></li>


      {{if auth.is_logged_in() and not auth.has_membership('gimp'):}}




        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ =URL('profile') }}">Profile</a></li>
            <li><a href="{{ =URL('change_password') }}">Change Password</a></li>
            <li><a href="{{ =URL('view_purchase_history') }}">View Purchase History</a></li>
            <li class="divider"></li>
            <li><a href="{{=URL('logout')}}">Logout</a></li>
          </ul>
        </li>


      {{ else: }}


        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ =URL('login') }}">Login</a></li>
            <li class="divider"></li>
            <li><a href="{{=URL('register')}}">Register</a></li>
            <li><a href="{{=URL('request_reset_password')}}">Lost Password</a></li>
          </ul>
        </li>

      {{ pass }}

      </ul>

          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


            {{block center}}
            {{include}}
            {{end}}



<!-- Modal -->
<div class="modal fade" id="powered_by_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Powered By</h2>
      </div>
      <div class="modal-body">
        <h3><a href="http://www.web2py.com">Web2py</a></h3> 
          <p>
            Python based server side framework that takes security seriously.
          </p>
        <h3><a href="https://www.heroku.com">Heroku</a></h3>
          <p>
            Heroku is a web hosting solution for projects with heavy backends.
          </p>
        <h3><a href="http://bootstrap.com">Bootstrap</a></h3>
          <p>
            Front end framework that turns hours of css and js into some additional html markup.
          </p>
        <h3><a href="https://html5boilerplate.com/">HTML5 BoilerPlate</a></h3>
          <p>
            Takes best practicies from hundreds of top developers and puts them in your project.
          </p>
        <h3><a href="http://www.initializr.com/">Initializr</a></h3>
          <p>
            Initializr makes it easy to set up a project skeleton. It made using html5 boilerplate and bootstrap3 even easier than it already is.  
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Contact</h2>
      </div>
      <div class="modal-body">
        <h3> Product Inquiries </h3>
        <p>
          For inquires about the current product selection or custom product requests, please contact Rebecca using Rebecca@threemuses.glass
        </p>
        <h3> Technical Inquiries </h3>
        <p>
          For inquires about the site or to report bugs/problems please contact James using James@threemuses.glass
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="privacy_policy_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Privacy Policy</h2>
      </div>
      <div class="modal-body">
        <h3> General User Information </h3>
        <p>
          ThreeMusesGlass collects information necessary for ecommerce. We will never sell or give your information to any other parties (unless legally bound).
        </p>

        <h3> Sensative User Information </h3>
        <p>
          Payment information is stored and processed by either Paypal or Stripe. Both of these services are PCI compliant and data is sent to them using a secure connection. Once data is entered here and sent to the corresponding payment service, only a code is saved on our servers which can be used to retrieve payment details. None of the supported payment services support returning the full card number or any of the secrect pins programatically. 
        </p>

        <h3> Email Marketing </h3>
        <p>
          ThreeMusesGlass sends payment confirmation emails automatically after purchase completion. Emails addresses are required in case of problems with the order so that the customer can be contacted. After the intial payment confirmation email, you will not recieve any automated (marketing or otherwise) emails from ThreeMusesGlass. We may manually send coupon codes or other updates occasionaly that are easily opted out from. 
        </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="purchase_policy_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Purchase Policy</h2>
      </div>
      <div class="modal-body">
        <h3> General Return Policy </h3>
        <p>
          We do not generally support the return of purchased items. If you are considering buying an item and want to see more detail, or a specific angle, please ask! For specific cases were returns are accomodated, read below. 
        </p>

        <h3> Broken Items (Glass) </h3>
        <p>
          If an item arrives to you broken, please take a picture of it and send it to us. We will likely ask that the item be shipped back to us and you can request a refund or another item of similar value. Shipping charges for returns from broken items and resending items to replace broken products will be paid by ThreeMusesGlass.
        </p>

        <h3> Broken Items (Other) </h3>
        <p>
          ThreeMusesGlass uses some third party products. For example, a bracelet consists of glass beads made by ThreeMusesGlass and a bracelet and clasp made by another company. If any of the auxillary items break in the first 90 days, please let us know. If something is damaged as a result of third party product failure within this window, we will send you a replacement item of your choice with similar value. 
        </p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


    <!-- 
    <footer style="background:url( ocbocb =URL('static','img/footer_background.png') ccbccb )">
    -->

    <footer>
    
      <div class="container-fluid">

       <div class="container">

        <div class="row footer-row">


          <div class="col-md-8 footer-row-child-1" style="font-size: 85%;">

            <div class="footer-modal-btn-wrapper col-md-3">
              <button type="button" class="btn footer-modal-btn" data-toggle="modal" data-target="#purchase_policy_modal">
                Purchase Terms
              </button>
            </div>

            <div class="footer-modal-btn-wrapper col-md-3">
              <button type="button" class="btn footer-modal-btn" data-toggle="modal" data-target="#contact_modal">
                Contact
              </button>
            </div>

            <div class="footer-modal-btn-wrapper col-md-3">
              <button type="button" class="btn footer-modal-btn" data-toggle="modal" data-target="#privacy_policy_modal">
                Privacy Policy
              </button>
            </div>

            <div class="footer-modal-btn-wrapper col-md-3">
              <button type="button" class="btn footer-modal-btn" data-toggle="modal" data-target="#powered_by_modal">
                Powered By
              </button>
            </div>

         </div>


         <div class="col-md-4" style="font-size: 85%;">
          <div class="footer-modal-copy-wrapper col-md-12">
            <button class="btn footer-modal-btn">
              ThreeMusesGlass - &copy; 2015
            </button>
          </div>
         </div>
      
        </div>
       </div>
      </div>

    </footer>



        <!-- For please wait modal -->
        <!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="yourPath/animatedModal.min.js"></script>
        -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src=static/js/vendor/jquery-1.11.2.min.js><\/script>')</script>

        <script src="{{=URL('static','js/web2py.js')}}" type="text/javascript" charset="UTF-8"></script>

        <script src="{{ =URL('static', 'js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ =URL('static', 'js/vendor/moment.js') }}"></script>

        <script src="{{ =URL('static', 'js/main.js') }}"></script>

        <!--<script src="cbcb =URL('static', 'js/vendor/assets_custom.js') cbcb"></script>-->


<!-- 
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
 -->

        
<!-- 
        <script src="ocbocb =URL('static', 'js/vendor/jquery.blImageCenter.js') ccbccb"></script>
 -->
        <script src="{{ =URL('static', 'js/vendor/jquery.touchSwipe.min.js') }}"></script>

        <!--<script src="https://checkout.stripe.com/checkout.js"></script>-->



        <script src="{{ =URL('static', 'js/3muses.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-60766842-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
