<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ThreeMusesGlass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{{ =URL('static', 'apple-touch-icon.png') }}">

        <link rel="stylesheet" href="{{ =URL('static', 'css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ =URL('static', 'css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ =URL('static', 'css/main.css') }}">

        <!--<link rel="stylesheet" href="cbcb =URL('static', 'css/assets_custom.css') cbcb">-->

        <link rel="stylesheet" href="{{ =URL('static', 'css/3muses.css') }}">


        <script src="{{ =URL('static', 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ =URL('default', 'index') }}">ThreeMusesGlass</a>
        </div>



        <div id="navbar" class="navbar-collapse collapse">


      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shop<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

          {{categories=db(db.categories.is_active==True).select(orderby=db.categories.display_order)}}
          {{for row in categories:}}

            <li><a href="{{=URL('display/'+str(row.category_name.replace(" ","_")))}}">{{=T(row.category_name)}}</a></li>

          {{pass}}

            <li class="divider"></li>
            <li><a href="{{ =URL('categories') }}">All Categories</a></li>
          </ul>
        </li>
        <li><a href="{{ =URL('cart') }}">Cart</a></li>

        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ =URL('default', 'user', 'login') }}">Login</a></li>
            <li class="divider"></li>
            <li><a href="#">Lost Password</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </li>


      </ul>

          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


            {{block center}}
            {{include}}
            {{end}}

    <footer>
      <div class="container">

          <p class="pull-right" style="font-size: 85%;">
              <a href="/Store/Purchase_Terms" style="margin-right: 20px">Purchase terms and conditions</a>
              <a href="/Home/Privacy_Policy" style="margin-right: 20px">Privacy policy</a>
              <a href="/Company/Contact">Contact</a>
         </p>
         <p style="font-size: 85%; line-height: 180%">Copyright &copy; 2015 - CompanyName</p>
    

      </div>
    </footer>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src=static/js/vendor/jquery-1.11.2.min.js><\/script>')</script>

        <script src="{{ =URL('static', 'js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ =URL('static', 'js/main.js') }}"></script>

        <!--<script src="cbcb =URL('static', 'js/vendor/assets_custom.js') cbcb"></script>-->

        <script src="{{ =URL('static', 'js/3muses.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-60766842-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
