{{extend 'layout.html'}}

<h1> What the actual fuck </h1>

<form enctype="multipart/form-data" action="{{=URL('checkout_stripe_2')}}" method="post">
  
  <label>Your name:</label>
  <input name="name" />

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{=pk}}"
    data-amount=2000
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="http://images.clipartpanda.com/smiley-face-png-1407-smiley-face.png">
  </script>




</form>