{{extend 'layout.html'}}

<div class="container-fluid style1">

	<div class='container'>


{{ if cart_information['error']==False: }}

	{{ for i in range(len(cart_information['cart_information_LOD'])): }}

		<div class="row">

			<div class="col-md-1">
				{{ =cart_information['cart_information_LOD'][i]['product_image_url'] }}
			</div>

						
			<div class="col-md-6">

							{{ =cart_information['cart_information_LOD'][i]['product_name'] }}
							{{ =cart_information['cart_information_LOD'][i]['product_cost'] }}

			</div>

			<div class="col-md-1">
						
				{{ =cart_information['cart_information_LOD'][i]['product_delete_button'] }}

			</div>

		</div>

	{{pass}}

{{ else: }}

		<div class="row">

			<div class="col-md-8">

				{{ =cart_information['error_message'] }}

			</div>

		</div>

{{ pass }}


		<form action="{{=URL('default','categories')}}">

			<input type="submit" value="Back to Shopping">

		</form>

	</div>

</div>




<div id="main" class="wrapper style2">

	<div id='content' class='container'>

		<div class='muses_cart' id = "cart_addresses">

			<h1>Where You Are Shipping</h1>

				{{ if address_information['error']==False: }}

					{{ for i in range(len(address_information['address_information_LOD'])): }}

					  {{ if address_information['address_information_LOD'][i]['default_address']: }}

						<div class="cart_address_container">

							<div class="cart_address_info  selected_address" id="{{=address_information['address_information_LOD'][i]['id'] }}">

								{{ =INPUT(_type='radio', _name='address', _value=address_information['address_information_LOD'][i]['id'], _checked='checked') }}

					  {{ else: }}

					  	<div class="cart_address_container">

							<div class="cart_address_info" id="{{=address_information['address_information_LOD'][i]['id'] }}">

					            {{ =INPUT(_type='radio', _name='address', _value=address_information['address_information_LOD'][i]['id']) }}

					  {{ pass }}

					          	{{ =address_information['address_information_LOD'][i]['first_name'] }}
					          	{{ =address_information['address_information_LOD'][i]['last_name'] }}
					          	<br/>
					          	{{ =address_information['address_information_LOD'][i]['street_address_line_1'] }}
					          	{{ =address_information['address_information_LOD'][i]['street_address_line_2'] }}
					          	<br/>
					          	{{ =address_information['address_information_LOD'][i]['municipality'] }},
					          	{{ =address_information['address_information_LOD'][i]['administrative_area'] }}
					          	{{ =address_information['address_information_LOD'][i]['postal_code'] }}
					          	<br/>
					          	{{ =address_information['address_information_LOD'][i]['country'] }}
					          	
					        </div>

					        <div class="cart_address_controls">
					            {{ =A('Edit', _href=URL('edit_address', vars=dict(pri_key=address_information['address_information_LOD'][i]['id'])), _class="btn button") }}
					            
					            <br/>

					            {{ =A('Delete', _href=URL('delete_address', vars=dict(pri_key=address_information['address_information_LOD'][i]['id'],redirect_url=URL('cart'))), _class="btn button") }}
					        </div>

			            </div>
						
						<br/>

					{{pass}}

				{{ else: }}

					{{ =address_information['error_message'] }}

				{{ pass }}


			<form action="{{=URL('default','add_new_address')}}">

			    <input type="submit" value="Add New Address">

			</form>

		</div>

	</div>

</div>


<div id="main" class="wrapper style1">

	<div id='content' class='container'>

		<div class='muses_cart' id = "cart_shipping">

			<h1>What Kind Of Shipping?</h1>

				<div id='shipping_target'>

					{{=shipping_information['error_message']}}

				</div>

		</div>

	</div>

</div>

<div id="main" class="wrapper style2">

	<div id='content' class='container'>

		<div class='muses_cart' id = 'cart_card'>
			<h1>How You Are Paying</h1>

			<div class="cart_payment_option_container">
				Pay with Card
			</div>

				<div class="cart_payment_sub_options_container">

					{{ if card_information['error']: }}
						{{ =card_information['error_message'] }}
					{{ else: }}

						{{ for i in range(len(card_information['card_information_LOD'])): }}

							<div class="cart_payment_sub_option_container">

								{{ =card_information['card_information_LOD'][i] }}

							</div>

						{{ pass }}


					{{ pass }}


					<br/>
					<form action="{{=URL('default','add_new_card')}}">
					    <input type="submit" value="Add New Card">
					</form>

				</div>

			<br/>

			<div class="cart_payment_option_container">
				Other Payment Options
			</div>

				<div class="cart_payment_sub_options_container">

					<div class="cart_payment_sub_option_container">

						Paypal

					</div>

					<div class="cart_payment_sub_option_container">

						Bitcoin
						
					</div>

					<div class="cart_payment_sub_option_container">

						Dwolla
						
					</div>

				</div>

		</div>

	</div>

</div>


<div id="main" class="wrapper style1">

	<div id='content' class='container'>

		<div class='muses_cart' id = 'cart_checkout_button_div'>

			<div>

				<a class="button" href="{{=URL('checkout')}}">Checkout</a>

			</div>

		</div>

	</div>

</div>
