{{extend 'layout.html'}}

<!--
		<div class="checkout-button">

			<a href="{{=URL('checkout')}}"><button>Checkout</button></a>

		</div>

		<br/>
		<br/>
-->


<div id="main" class="wrapper style2">

	<div id='content' class='container'>

		<div class='muses_cart' id='cart_cart'>

			<h1>What You Are Buying</h1>

			{{ if cart_information['error']==False: }}

				{{ for i in range(len(cart_information['cart_information_LOD'])): }}

					<div class="cart_cart_container">

						<div class="cart_cart_info">

							<div class="cart_cart_image">
							{{ =cart_information['cart_information_LOD'][i]['product_image_url'] }}
							</div>
							{{ =cart_information['cart_information_LOD'][i]['product_name'] }}
							{{ =cart_information['cart_information_LOD'][i]['product_cost'] }}
							{{ =cart_information['cart_information_LOD'][i]['product_delete_button'] }}

						</div>

					</div>

				{{pass}}

			{{ else: }}

				{{ =cart_information['error_message'] }}

			{{ pass }}



			<br/>

			<form action="{{=URL('default','categories')}}">

			    <input type="submit" value="Back to Shopping">

			</form>

		</div>

	</div>

</div>


<div id="main" class="wrapper style4">

	<div id='content' class='container'>

		<div class='muses_cart' id = "cart_addresses">

			<h1>Where You Are Shipping</h1>

				{{ if address_information['error']==False: }}

					{{ for i in range(len(address_information['address_information_LOD'])): }}

					  {{ if address_information['address_information_LOD'][i]['default_address']: }}

						<div class="cart_address_container">

							<div class="cart_address_info  selected_address" id="{{=address_information['address_information_LOD'][i]['id'] }}">

								{{ =INPUT(_type='radio', _name='address', _value=address_information_LOD[i]['id'], _checked='checked') }}

					  {{ else: }}

					  	<div class="cart_address_container">

							<div class="cart_address_info" id="{{=address_information['address_information_LOD'][i]['id'] }}">

					            {{ =INPUT(_type='radio', _name='address', _value=address_information_LOD[i]['id']) }}

					  {{ pass }}

					          	{{ =address_information_LOD[i]['first_name'] }}
					          	{{ =address_information_LOD[i]['last_name'] }}
					          	<br/>
					          	{{ =address_information_LOD[i]['street_address_line_1'] }}
					          	{{ =address_information_LOD[i]['street_address_line_2'] }}
					          	<br/>
					          	{{ =address_information_LOD[i]['municipality'] }},
					          	{{ =address_information_LOD[i]['administrative_area'] }}
					          	{{ =address_information_LOD[i]['postal_code'] }}
					          	<br/>
					          	{{ =address_information_LOD[i]['country'] }}
					          	
					        </div>

					        <div class="cart_address_controls">
					            {{ =A('Edit', _href=URL('edit_address', vars=dict(pri_key=address_information_LOD[i]['id'])), _class="btn button") }}
					            
					            <br/>

					            {{ =A('Delete', _href=URL('delete_address', vars=dict(pri_key=address_information_LOD[i]['id'],redirect_url=URL('cart'))), _class="btn button") }}
					        </div>

			            </div>
						
						<br/>

					{{pass}}

				{{ else: }}

					{{ =address_information['error_message'] }}

				{{ pass }}


			<form action="{{=URL('default','add_new_address')}}">

			    <input type="submit" value="Add New Address">

			</form>

		</div>

	</div>

</div>


<div id="main" class="wrapper style2">

	<div id='content' class='container'>

		<div class='muses_cart' id = "cart_shipping">

			<h1>What Kind Of Shipping?</h1>

				<div id='shipping_target'>

					


				</div>

		</div>

	</div>

</div>

<div id="main" class="wrapper style4">

	<div id='content' class='container'>

		<div class='muses_cart' id = 'cart_card'>
			<h1>How You Are Paying</h1>

			{{=card_grid}}
			<br/>
			<form action="{{=URL('default','add_new_card')}}">
			    <input type="submit" value="Add New Card">
			</form>

		</div>

	</div>

</div>


<div id="main" class="wrapper style2">

	<div id='content' class='container'>

		<div class='muses_cart' id = 'cart_checkout_button_div'>

			<div>

				<a class="button" href="{{=URL('checkout')}}">Checkout</a>

			</div>

		</div>

	</div>

</div>
