{{extend 'layout.html'}}


{{if len(category_rows)==0:}}

	<div class="container-fluid">
		<div class="container">
			<div>Sorry, we are currently out of everything!</div>
		</div>
	</div>

{{else:}}

	{{for j in range(len(category_rows)):}}

		{{if j%2==0:}}
			<div class="container-fluid style1">
				<div class="container">
		{{else:}}
			<div class="container-fluid style2">
				<div class="container">
		{{pass}}

		{{if sqlite_tf:}}
			{{srcattr=URL('download',category_rows[j].s3_url)}}
		{{else:}}
			{{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+category_rows[j].s3_url}}
		{{pass}}

		{{ print "srcattr" }}
		{{ print srcattr }}

			<div class="row">


			  {{if j%2==0:}}
				<div class = "col-md-4 image-container category-view-image-container-left">
			  {{else:}}
				<div class = "col-md-4 image-container category-view-image-container-right">
			  {{pass}}

			  {{ onErrorAttr = URL('static','img/no_category_img.png') }}

					{{ =A( IMG( _src=srcattr, _class="img-responsive", _alt="Category Image Not Found", _onError="this.onerror=null;this.src='"+onErrorAttr+"'" ),_href=URL('display', args=[category_rows[j].category_name.replace(" ","_")])) }}

				<!-- <img src="imagenotfound.gif" alt="Image not found" onError="this.onerror=null;this.src='imagefound.gif';" /> -->

				
			  {{if j%2==0:}}
				</div>
			  {{else:}}
				</div>
			  {{pass}}


				<div class="col-md-8">

					<div class = 'category-header'>{{=category_rows[j].category_name}}</div>

					<div class = 'category-description'>{{=category_rows[j].category_description}}</div>

				</div>

			</div>


		{{if j%2==0:}}
			</div>
			</div>
		{{else:}}
			</div>
			</div>
		{{pass}}

	{{pass}}

{{pass}}



