{{extend 'layout.html'}}

<div class="container-fluid style1 tmg_auth-container-fluid change_password-container-fluid">

	<div class='container'>

		<h2 class="align-hcenter">Change Password</h2>


		<div class="row change_password-row">

			<div class="col-md-offset-4 col-md-4">

				<div id="web2py_user_form" class="change_password tmg_auth_form_container">

					{{=form}}

				</div>

			</div>

		</div>

		<div class="row tmg-auth-button-row">
			<div class="col-md-offset-4 col-md-4 tmg-auth-button-col">
				<a href="{{ =URL('profile') }}"><button class="btn btn-warning">Back to Profile</button></a>
			</div>
		</div>

	</div>

</div>