{{extend 'layout.html'}}


<div class="container-fluid style1">

	<div class='container'>












		<div class="row checkout-row">

			<div class="col-md-offset-2 col-md-8">
				<h1> Pay with Card </h1>
			</div>

			<div class="col-md-offset-2 col-md-8 checkout-summary-payment-button-line checkout-summary-payment-button-line-stripe">
				<form enctype="multipart/form-data" action="{{=URL('pay_stripe')}}" method="post">
				  {{ import os }}
				  <script
				    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				    data-key="{{=os.environ['STRIPE_PUBLISHABLE']}}"
				    data-amount="{{ =int(session.summary_information['information_LOD'][0]['total_cost_USD']*100) }}"
				    data-name="ThreeMusesGlass"
				    data-description="Purchase Details from ThreeMusesGlass"
				    data-bitcoin="true"
				    data-label="Check out with Stripe"
				    data-panel-label="Pay"
				    data-zip-code='true'
				    data-image="http://images.clipartpanda.com/smiley-face-png-1407-smiley-face.png">
				  </script>
				</form>
			</div>

		</div>



		<div class="row checkout-row">

			<div class="col-md-offset-2 col-md-8">
				<h1> Pay with Paypal </h1>
			</div>

			<div class="col-md-offset-2 col-md-8 checkout-summary-payment-button-line">
				<a class="checkout-view-payment-btn checkout-view-paypal-btn" href="{{=payment_information['information_LOD'][0]['paypal_approval_url']}}" target="_blank">
					<div>
						<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
					</div>
				</a>
			</div>

		</div>




















<!--###############-->
<!-- CHECKOUT CART -->
<!--###############-->

{{ if cart_information['error']==False: }}

		<div class="row checkout-row">

		  <div class="col-md-offset-2 col-md-8 checkout-summary-header">
		  	<h2>Order Details</h2>
		  </div>

		</div>

	{{ for i in range(len(cart_information['information_LOD'])): }}
				
		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-product-container" >

		  <!-- <div > -->
		  	<hr class="checkout-horizontal-dotted-line">
		  <!-- </div> -->

			<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-3">

				<div > <!-- For vertically centering -->
					<div> <!-- for background color -->
						{{ =cart_information['information_LOD'][i]['product_name'] }}
					</div>
				</div>

			</div>

			<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-3">

				<div > <!-- For vertically centering -->
					<div>
						${{ ="%.2f" % cart_information['information_LOD'][i]['product_cost'] }}
					</div>
				</div>

			</div>

		  </div>
		</div>


	{{pass}}

		<div class="row checkout-row">
		
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

		  	<hr class="checkout-horizontal-dotted-line">

			<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-2">
				<div>
					<div>
						Item Subtotal
					</div>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-2">

				<div>
					<div>
						${{ ="%.2f" % session.summary_information['information_LOD'][0]['cart_cost_USD'] }}
					</div>
				</div>
			</div>

		  </div>

		</div>







		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

		  	<hr class="checkout-horizontal-dotted-line checkout-horizontal-dotted-line-shipping">

			<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-2">
				<div>
					<div>
						








	{{ if shipping_information['error']==False: }}

		{{ if address_information['error']==False: }}

			<div>
			{{ =shipping_information['information_LOD'][0]['carrier'] }} 
			{{ =shipping_information['information_LOD'][0]['service'] }}
			Shipping (Est. {{ =shipping_information['information_LOD'][0]['delivery_date'] }}) To:
			</div>

			{{ for i in range(len(address_information['information_LOD'])): }}

			<div class="checkout-summary-address-container">

				<div >

		  			<div >
			          	{{ =address_information['information_LOD'][i]['first_name'] }}
			          	{{ =address_information['information_LOD'][i]['last_name'] }}
		          	</div>
						          	
		          	<div >
			          	{{ =address_information['information_LOD'][i]['street_address_line_1'] }}
			          	{{ =address_information['information_LOD'][i]['street_address_line_2'] }}
		          	</div>

		          	<div >
			          	{{ =address_information['information_LOD'][i]['municipality'] }},
			          	{{ =address_information['information_LOD'][i]['administrative_area'] }}
			          	{{ =address_information['information_LOD'][i]['postal_code'] }}
		          	</div>

		          	<div >
		          		{{ =address_information['information_LOD'][i]['country'] }}
		          	</div>

		        </div>

		    </div> <!-- Close the div that can be clicked to pick shipping address -->		
					
			{{pass}}  <!--For the for loop-->



		{{ else: }} <!-- For the address error if -->
			<div >
				{{ =address_information['error_message'] }}
			</div>
		{{ pass }}


	{{ else: }} <!-- For the shipping error if -->
		<div >
			{{ =shipping_information['error_message']}}
		</div>
	{{pass}}













					</div>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-2 checkout-summary-shipping-cost">

				<div>
					<div>
						${{ ="%.2f" % session.summary_information['information_LOD'][0]['shipping_cost_USD'] }}
					</div>
				</div>
			</div>

		  </div>

		</div>








		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

		  	<hr class="checkout-horizontal-dotted-line checkout-horizontal-dotted-line-total">

			<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-1">
				<div>
					<div>
						Total Cost
					</div>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-1 checkout-summary-total-cost">

				<div>
					<div>
						${{ ="%.2f" % session.summary_information['information_LOD'][0]['total_cost_USD'] }}
					</div>
				</div>
			</div>

		  </div>

		</div>








		{{ else: }}
				<div >
					<div >
						{{ =cart_information['error_message'] }}
					</div>					
				</div>

		{{ pass }}




		<div class="row checkout-row">

			<div class="col-md-offset-2 col-md-8 checkout-summary-payment-button-line checkout-summary-payment-button-line-stripe">
				<form enctype="multipart/form-data" action="{{=URL('pay_stripe')}}" method="post">
				  {{ import os }}
				  <script
				    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				    data-key="{{=os.environ['STRIPE_PUBLISHABLE']}}"
				    data-amount="{{ =int(session.summary_information['information_LOD'][0]['total_cost_USD']*100) }}"
				    data-name="ThreeMusesGlass"
				    data-description="Purchase Details from ThreeMusesGlass"
				    data-bitcoin="true"
				    data-label="Check out with Stripe"
				    data-panel-label="Pay"
				    data-zip-code='true'
				    data-image="http://images.clipartpanda.com/smiley-face-png-1407-smiley-face.png">
				  </script>
				</form>
			</div>

		</div>


		<div class="row checkout-row">

			<div class="col-md-offset-2 col-md-8 checkout-summary-payment-button-line">
				<a class="checkout-view-payment-btn checkout-view-paypal-btn" href="{{=payment_information['information_LOD'][0]['paypal_approval_url']}}" target="_blank">
					<div>
						<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
					</div>
				</a>
			</div>

		</div>




	</div> <!-- close container -->

</div> <!-- close fluid container -->