{{extend 'layout.html'}}

<!--The Payment Container-->

{{ payment_method = session.payment_method }}
{{ print payment_method}}

<div class="container-fluid style2">

	<div class='container'>

		<div class='row'>
			<!--<h1>How You Are Paying</h1>-->

			<div class="panel-group col-md-offset-2 col-md-8" id="accordion" role="tablist" aria-multiselectable="true">

				  <div class="panel panel-default">

				    <div class="panel-heading" role="tab" id="headingOne">

				      <h4 class="panel-title">

				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

				          Pay With Card

				        </a>

				      </h4>

				    </div>

				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      
				      <div class="panel-body">

						<div class="align-hcenter cart-view-card-container">

							{{ if card_information['error']: }}

								<div class="cart-view-error-text-container">

									{{ =card_information['error_message'] }}

								</div>


							{{ else: }}

								{{ for i in range(len(card_information['card_information_LOD'])): }}

								{{ payment_id = card_information['card_information_LOD'][i]['cart_id']}}

								{{ selected_class = "cart-view-payment-option-selected" if payment_method == payment_id else "" }}

								<div>
									<div id= "{{ =payment_id }}" class="col-md-offset-3 col-md-6 cart-view-payment-card-container cart-view-payment-option {{ =selected_class }} ">

										<div class="cart-view-payment-card-cardnumber">
											XXXX-XXXX-XXXX-{{ =card_information['card_information_LOD'][i]['card_last4'] }}
										</div>

										<div class="cart-view-payment-card-expiration">
											{{ =card_information['card_information_LOD'][i]['card_exp_mo'] }} /
											{{ =card_information['card_information_LOD'][i]['card_exp_yr'] }}
										</div>

										<div class="col-xs-6 cart-view-payment-card-cardname">
											{{ =card_information['card_information_LOD'][i]['card_name'] }}
										</div>

										<div class="cart-view-payment-card-cardbrand">
											{{ =card_information['card_information_LOD'][i]['card_brand'] }}
										</div>

									</div> <!--Close cart-view-payment-card-container-->


									<div class="col-xs-offset-6 col-xs-6 col-md-offset-7 col-md-2 cart-view-payment-card-controls-container">


										<button type="button" 
											class="btn btn-default cart-view-card-controls-popover" 
											data-container="body" 
											data-toggle="popover" 
											data-placement="left" 
											data-trigger="focus" 
											data-html="true" 
											data-content="<div class='cart-view-payment-card-carddelete'>
												{{ =card_information['card_information_LOD'][i]['card_delete'].xml() }}
												</div>">

											<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

										</button>

									</div>

								</div>

								<br/>
								<br/>

								{{ pass }}

							{{ pass }}

						</div>


						<div class="align-right cart-view-btn-container">
							
							<form action="{{=URL('default','add_new_card')}}">
							    <input type="submit" value="Add New Card" class="btn btn-info cart-view-btn">
							</form>

						</div>


				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Other Payment Options
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">

						<div class="cart_payment_sub_options_container">

							{{ payment_id = "paypal"}}

							{{ selected_class = "cart-view-payment-option-selected" if payment_method == payment_id else "" }}
							<div id="paypal" class="align-hcenter col-md-offset-3 col-md-6 cart-view-payment-paypal-container cart-view-payment-option {{ =selected_class }} ">

								<div>
									Paypal
								</div>

							</div>


							{{ payment_id = "bitcoin"}}

							{{ selected_class = "cart-view-payment-option-selected" if payment_method == payment_id else "" }}

							<div id="Bitcoin" class="align-hcenter col-md-offset-3 col-md-6 cart-view-payment-bitcoin-container cart-view-payment-option {{ =selected_class }} ">

								<div>
									Bitcoin
								</div>
								
							</div>


						</div>

				      </div>
				    </div>
				  </div>

				</div>

			</div>

		</div>

	</div>


	<div class="container-fliud style1">

		<div class='container'>


				<div class="row">

					<div class="col-md-3 col-md-offset-7 align-right">

						<!--<a class="btn btn-sucess" href=" cbcb =URL('checkout') cbcb ">Checkout</a>-->

						<form action="{{=URL('review')}}">
						    <input type="submit" value="Review Order Details" class="btn btn-success cart-view-btn">
						</form>

					</div>

				</div>


		</div>

	</div>

