{{('message' in globals())}}
{{extend 'layout.html'}}

<h1>
	{{=db(db.categories.id==category_id).select()[0].category_name}}
</h1>

{{if len(product_rows)==0:}}
<div>
Sorry, there are currently no products available in this product line
</div>
{{else:}}

{{row_count=1}}
{{num_cols=4}}
{{col_count=1}}

{{for j in range(0,len(product_rows)):}}

{{if col_count==1:}}
<div class='display-row'>
{{else:}}
{{pass}}
	<div class='display'>

		<div class = 'display-header'>

		{{=product_rows[j].product_name}}

		</div>

		<div class='display-image-case'>
		

			<!--  Carousel - consult the Twitter Bootstrap docs at 
			      http://twitter.github.com/bootstrap/javascript.html#carousel -->
			<div id="display-carousel-{{=j}}" class="carousel slide display-carousel" data-interval="false"><!-- class of slide for animation -->
			  
			  <!-- Indicators -->
			  <ol class="carousel-indicators">

			  	{{results=db(db.image.product_name==product_rows[j].id).select()}}

			  	{{for i in range(len(results)):}}
			  	
			  		{{if i == 0:}}

						<li data-target="#display-carousel-{{=j}}" data-slide-to="{{=i}}" class="active"></li>

					{{else:}}

						<li data-target="#display-carousel-{{=j}}" data-slide-to="{{=i}}"></li>
					{{pass}}
				{{pass}}

			  </ol>


			  <div class="carousel-inner">

				
			  		{{for i in range(len(results)):}}

			  		  {{if sqlite_tf:}}
						{{srcattr=URL('download',results[i].s3_url)}}
					  {{else:}}
						{{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+results[i].s3_url}}
					  {{pass}}
			  	
				  		{{if i == 0:}}
				    		<div class="item active"><!-- class of active since it's the first item -->
				    	{{else:}}
				    		<div class="item"><!-- class of active since it's the first item -->	
				    	{{pass}}
				    	
				    			{{=A(IMG(_src=srcattr, _alt="woops!"),_href=URL('product', args=[product_rows[j].id]))}}



				      			<!--<div class="carousel-caption">
				        			<p>YO!</p>
								=URL('download',results[i].image)

				      				</div>-->
				    		</div>
			    	{{pass}}
			  

					<!--</div>fake-->

			  </div><!-- /.carousel-inner -->
			  		<!--  Next and Previous controls below
			        href values must reference the id for this carousel -->
			    <!--
			    <a class="carousel-control left" href="#display-carousel" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#display-carousel" data-slide="next">&rsaquo;</a>
				-->

			</div><!-- /.carousel -->

			<!--
			<div class = 'display-description'>
					{{=product_rows[j].description}}
			</div>
			-->

		</div><!--image  case-->

	</div><!--display block-->

{{col_count=col_count+1}}

{{if col_count==num_cols or j==len(product_rows)-1:}}
{{col_count=1}}
</div> <!--Display Row-->
{{else:}}
{{pass}}

	<br/>
	<br/>

{{pass}} <!--close for loop-->
{{pass}} <!--close else from having no items-->
