{{extend 'layout.html'}}

	<div class="container-fliud display-view-header-fluid-container">
		<div class="container">
			<div class="row display-view-header-row">
				<h1>
					{{=db(db.categories.id==category_id).select()[0].category_name}}
				</h1>
			</div>
		</div>
	</div>







{{if len(product_rows)==0:}}

	<div class="container-fluid">
		<div class="container">
			<div class="row">
				Sorry, there are currently no products available in this product line
			</div>
		</div>
	</div>


{{else:}}

	<div class="container-fluid">
		<div class="container">
			<div class="row">

	{{for j in range(0,len(product_rows)):}}

		<div class='col-md-4 display-view-product-square'>


			<!--  Carousel - consult the Twitter Bootstrap docs at 
			      http://twitter.github.com/bootstrap/javascript.html#carousel -->
			<div id="display-carousel-{{=j}}" class="carousel slide display-carousel" data-interval="false"><!-- class of slide for animation -->
			  
				<!-- Indicators -->
				<ol class="carousel-indicators">
			{{results=db(db.image.product_name==product_rows[j].id).select()}}


			{{ if len(results)==0: }}
				<!-- <li data-target="#display-carousel-{{=j}}" data-slide-to="0" class="active"></li> -->
			{{ else: }}


				{{for i in range(len(results)):}}
					{{if i == 0:}}
						<li data-target="#display-carousel-{{=j}}" data-slide-to="0" class="active"></li> 
					{{else:}}
						<li data-target="#display-carousel-{{=j}}" data-slide-to="{{=i}}"></li>
					{{pass}}
				{{pass}}
			{{pass}}
				</ol>


				<div class="carousel-inner display-view-carousel-inner">


			{{ if len(results)==0: }}
			
				{{ srcattr=URL('static','img/no_images.png') }}
				<div class="item active display-view-img"><!-- class of active since it's the first item -->

					<a href="{{ =URL('product', args=[product_rows[j].id]) }}">

					  <div style="background:url( {{ =srcattr }} ) center center; background-size:cover;" class="slider-size">

					      <div class="carousel-caption">
					         Email: <br/> Rebecca@ThreeMuses.Glass <br/> For Photos!	   
					      </div>
					      
					  </div>

					</a>

				</div>

			{{ else: }}	

		  		{{for i in range(len(results)):}}

					{{if sqlite_tf:}}
						{{srcattr=URL('download',results[i].s3_url)}}
					{{else:}}
						{{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+results[i].s3_url}}
					{{pass}}
			  	
			  		{{if i == 0:}}
			    		<div class="item active display-view-img"><!-- class of active since it's the first item -->
			    	{{else:}}
			    		<div class="item display-view-img"><!-- class of active since it's the first item -->	
			    	{{pass}}
					    	


					    	<!-- ocbocb=A(IMG(_src=srcattr, _class="img-thumbnail", _alt="woops!"),_href=URL('product', args=[product_rows[j].id]))ccvccv -->
					      <a href="{{ =URL('product', args=[product_rows[j].id]) }}">

						      <div style="background:url( {{ =srcattr }} ) center center; background-size:cover;" class="slider-size">

							      <div class="carousel-caption">
							        				   
							      </div>
							      
							  </div>

						  </a>


			    	{{if i == 0:}}
			    		</div>
			    	{{else:}}
			    		</div>	
			    	{{pass}}

				{{pass}}

			{{ pass }}

				</div><!-- /.carousel-inner -->

			  	<!--  Next and Previous controls below href values must reference the id for this carousel -->
			    <!--
			    <a class="carousel-control left" href="#display-carousel" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#display-carousel" data-slide="next">&rsaquo;</a>
				-->

				<a class="left carousel-control" href="javascript:void(0)" 
				     data-slide="prev" data-target="#display-carousel-{{ =j }}">
				<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="javascript:void(0)" 
				     data-slide="next" data-target="#display-carousel-{{ =j }}">
				<span class="glyphicon glyphicon-chevron-right"></span>
				</a>



			</div><!-- /.carousel -->

			<!--
			<div class = 'display-description'>
					{{=product_rows[j].description}}
			</div>
			-->

			<div class = 'display-header radial-gradient'>
				{{=product_rows[j].product_name}}
			</div>

		</div> <!-- close col-md-4 -->

	{{pass}} <!--close for loop-->

			</div> <!-- close row -->
		</div> <!-- close container -->
	</div> <!-- close fluid-container -->

{{pass}} <!--close else from having no items-->







{{if len(category_rows)==0:}}

{{else:}}


	<div class="container-fliud style1">
		<div class="container">
			<div class="row product-view-row">

	{{for j in range(len(category_rows)):}}

		{{if sqlite_tf:}}
			{{srcattr=URL('download',category_rows[j].s3_url)}}
		{{else:}}
			{{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+category_rows[j].s3_url}}
		{{pass}}

			<div class = "col-md-4 image-container">

				<div class = 'category-header'>{{=category_rows[j].category_name}}</div>

			  {{ onErrorAttr = "this.onerror=null;this.src='"+URL('static','img/no_category_img.png')+"'" }}

					<!-- 
					ocbocb =A( IMG( _src=srcattr, _class="img-responsive", _alt="Category Image Not Found", _onError="this.onerror=null;this.src='"+onErrorAttr+"'" ),_href=URL('display', args=[category_rows[j].category_name.replace(" ","_")])) ccbccb
					 -->

					<!-- 	
					<a href="{{ =URL('display', args=[category_rows[j].category_name.replace(' ','_')]) }}">

						<img src="{{ =srcattr }}" class="img-responsive", alt="Category Image Not Found", onError="{{ =onErrorAttr }}" >

					</a>
					-->


				<div id="yolo" class="carousel slide display-carousel" data-interval="false">


					<ol class="carousel-indicators">
						<li data-target="#yolo" data-slide-to="0" class="active"></li> 
					</ol>





					<div class="carousel-inner display-view-carousel-inner">

						<div class="item active display-view-img"><!-- class of active since it's the first item -->

					

								<!-- DIV(_style="background:url("+srcattr+") center center; background-size:cover;" _class="slide-size") -->
								<div style="background:url( {{ =srcattr }} ),url( {{ =URL('static','img/no_category_img.png') }} ) center center; background-size:cover;" class="slider-size">

									<div class="carousel-caption">
										Caption
									</div>

								</div>



						</div>

					</div>








				</div>




			</div>


	{{pass}}

			</div>
		</div>
	</div>


{{pass}}