{{include 'header.html'}}

  <body class="homepage">

    <!-- Header Wrapper -->
    <div class="wrapper style1">
      
      <!-- Header -->
        <div id="header">
          <div class="container">
              
            <!-- Logo -->
              

            <!-- Nav -->
            {{include 'nav.html'}}

          </div>
        </div>
        
      <!-- Banner -->
        <div id="banner">
          <section class="container">
            <h2>ThreeMusesGlass</h2>
            <span>Welcome! Thank You for Visiting!</span>
            <p></p>
          </section>
        </div>
    </div>
    
 <!-- Section One -->
      <div class="wrapper style2">
        <section class="container">
          <div class="row double">
            <div class="6u">
              <header class="major">
                <h2>"I Can't even right now" ~The New York Times</h2>
                <span class="byline">Everythine at ThreeMusesGlass is handmade by Rebecca McGlynn. To see Rebecca's Integrity as a seller you can checkout her ratings on her Etsy and Ebay accounts</span>
              </header>
            </div>
            <div class="6u">
              <h3>"Wow" <br> ~Doge</h3>
              <p>There is no guarantee, but you can try and ask Rebecca for special requests! Email her at Rebecca@threemuses.glass with your idea to start a conversation.</p>

            </div>
          </div>
        </section>
      </div>

    <!-- Section Two 
      <div class="wrapper style3">
        <section class="container">
          <header class="major">
            <h2>Cras vitae metus aliNuam</h2>
          </header>
          <p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</p>
          <a href="#" class="button alt">Nulla aluctus eleifend</a>
        </section>
      </div>

      -->

    <!-- Section Three 
      <div class="wrapper style4">
        <section class="container">
          <header class="major">
            <h2>Cras vitae metus aliNuam</h2>
            <span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</span>
          </header>
          <div class="row flush">
            <div class="4u">
              <ul class="special-icons">
                <li>
                  <span class="fa fa-cogs"></span>
                  <h3>Nulla luctus eleifend</h3>
                  <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
                </li>
                <li>
                  <span class="fa fa-wrench"></span>
                  <h3>Etiam posuere augue</h3>
                  <p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
                </li>
                <li>
                  <span class="fa fa-leaf"></span>
                  <h3>Fusce ultrices fringilla</h3>
                  <p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
                </li>
              </ul>
            </div>
            <div class="4u">
              <ul class="special-icons">
                <li>
                  <span class="fa fa-cogs"></span>
                  <h3>Nulla luctus eleifend</h3>
                  <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
                </li>
                <li>
                  <span class="fa fa-wrench"></span>
                  <h3>Etiam posuere augue</h3>
                  <p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
                </li>
                <li>
                  <span class="fa fa-leaf"></span>
                  <h3>Fusce ultrices fringilla</h3>
                  <p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
                </li>
              </ul>
            </div>
            <div class="4u">
              <ul class="special-icons">
                <li>
                  <span class="fa fa-cogs"></span>
                  <h3>Nulla luctus eleifend</h3>
                  <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
                </li>
                <li>
                  <span class="fa fa-wrench"></span>
                  <h3>Etiam posuere augue</h3>
                  <p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
                </li>
                <li>
                  <span class="fa fa-leaf"></span>
                  <h3>Fusce ultrices fringilla</h3>
                  <p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      -->
    
    <!--Team
      <div class="wrapper style5">
        <section id="team" class="container">
          <header class="major">
            <h2>Team</h2>
            <span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu</span>
          </header>
          <div class="row">
            <div class="3u">
              <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
              <h3>Rebecca McGlynn</h3>
              <p>Artist behind all ThreeMusesGlass products</p>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
              <h3>James <br> Mcglynn</h3>
              <p>Site developer</p>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
              <h3>Judy <br> Chan</h3>
              <p>Site designer</p>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
              <h3>Linda Lee</h3>
              <p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
            </div>
          </div>
        </section>
      </div>
      -->

    {{include 'footer.html'}}

  </body>

</html>