{{ extend 'layout.html' }}


<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">

  {{for j in range(len(category_rows)):}}

  	{{ if j==0: }}
    <li data-target="#carousel-example" data-slide-to="{{ =j }}" class="active"></li>
    {{ else: }}
    <li data-target="#carousel-example" data-slide-to="{{ =j }}"></li>
    {{ pass }}

  {{ pass }}
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

{{for j in range(len(category_rows)):}}

		{{if sqlite_tf:}}
			{{srcattr=URL('download',category_rows[j].s3_url)}}
		{{else:}}
			{{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+category_rows[j].s3_url}}
		{{pass}}

	{{ if j==0: }}
    <div class="item active">
    {{ else: }}
    <div class="item">
    {{ pass }}
      <!-- <img src="..." alt="..."> -->
      <div style="background:url( {{ =srcattr }} ) center center; background-size:cover;" class="slider-size">

	      <div class="carousel-caption">
	        
	      	{{=category_rows[j].category_name}}

	      </div>
	      
	  </div>

	{{ if j==0: }}
    </div>
    {{ else: }}
   	</div>
    {{ pass }}

{{ pass }}

  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->

	<a class="left carousel-control" href="javascript:void(0)" 
	     data-slide="prev" data-target="#carousel-example">
	<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="javascript:void(0)" 
	     data-slide="next" data-target="#carousel-example">
	<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

</div>