{{extend 'layout.html'}}

	<div class="container-fliud style2">
		<div class="container">
			<div class="row product-view-row">



{{for j in range(len(product_row)):}}

	<div class='col-md-4 product-view-carousel-container'>

		<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->
		<div id="product-carousel-{{=j}}" class="carousel slide product-view-carousel"><!-- class of slide for animation -->
		  
		  	<div class="product-view-product-cost">
				${{ =product_row[j].cost_USD }}
			</div>

		  <!-- Indicators -->
		    <ol class="carousel-indicators">

	  	{{results=db(db.image.product_name==product_row[j].id).select()}}
	  	{{for i in range(len(results)):}}
	  		{{if i == 0:}}
				<li data-target="#product-carousel-{{=j}}" data-slide-to="{{=i}}" class="active"></li>
			{{else:}}
				<li data-target="#product-carousel-{{=j}}" data-slide-to="{{=i}}"></li>
			{{pass}}
		{{pass}}

		    </ol>


		    <div class="carousel-inner">

		  		{{for i in range(len(results)):}}
			  		{{if i == 0:}}
			    		<div class="product-item item active"><!-- class of active since it's the first item -->
			    	{{else:}}
			    		<div class="product-item item"><!-- class of active since it's the first item -->	
			    	{{pass}}

			    	{{if sqlite_tf:}}
					 {{srcattr=URL('download',results[i].s3_url)}}
				    {{else:}}
					 {{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+results[i].s3_url}}
				    {{pass}}

				    {{=A(IMG(_src=srcattr, _class="img-thumbnail", _alt="woops!"))}}
			    			
			      			<!--<div class="carousel-caption">
			        			<p>YO!</p>
							=URL('download',results[i].image)

			      				</div>-->
			  		{{if i == 0:}}
			    		</div>
			    	{{else:}}
			    		</div>
			    	{{pass}}

		    	{{pass}}
		  
		    </div><!-- /.carousel-inner -->
		  	<!--  Next and Previous controls below href values must reference the id for this carousel -->
		    <!--
		    <a class="carousel-control left" href="#product-carousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#product-carousel" data-slide="next">&rsaquo;</a>
			-->

		</div><!-- /.carousel -->

	</div><!-- close 4 width image div-->






	<div class='col-md-8'>

		<div class = 'product-header'>
			{{=product_row[j].product_name}}
		</div>

		<div class = 'product-description'>
			{{=product_row[j].description}}
		</div>
<!-- 
		<div class = 'product-cost'>
			Cost: ocbocb =product_row[j].cost_USD ccbccb
		</div>
		 -->
		<div class = 'product-controls'>

		{{if product_row[j].qty_in_stock==0:}}

			This product is sold out!

		{{else:}}

			{{=cart_form}}

		{{pass}} <!--End if checking for qty-->

		</div>
		

	</div>




{{pass}}

		</div>
	</div>
</div>


	<div class="container-fliud style1">
		<div class="container">
			<div class="row product-view-row">
			Content
			</div>
		</div>
	</div>


