{{extend 'layout.html'}}

	<div class="container-fliud style2">
		<div class="container">
			<div class="row product-view-row">



{{for j in range(len(product_row)):}}

	<div class='col-md-4 product-view-carousel-container'>

		<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->




		<div id="product-carousel-{{=j}}" class="carousel slide product-view-carousel {{ ='in-cart-box' if in_cart_ribbon else '' }}"><!-- class of slide for animation -->

			{{ if in_cart_ribbon: }}
			<div class="in-cart-ribbon"><span>In Cart</span></div>
			{{ else: }}
			{{ pass }}

		  
		  	<div class="product-view-product-cost">
				${{ ="%.2f" % product_row[j].cost_USD }}
			</div>

		  <!-- Indicators -->
		    <ol class="carousel-indicators">

	  	{{results=db(db.image.product_name==product_row[j].id).select()}}

		{{ if len(results)==0: }}
			<!-- <li data-target="#display-carousel-{{=j}}" data-slide-to="0" class="active"></li> -->
		{{ else: }}

		  	{{for i in range(len(results)):}}
		  		{{if i == 0:}}
					<li data-target="#product-carousel-{{ =j }}" data-slide-to="{{ =i }}" class="active"></li>
				{{else:}}
					<li data-target="#product-carousel-{{ =j }}" data-slide-to="{{ =i }}"></li>
				{{ pass }}
			{{ pass }}
		{{ pass }}

		    </ol>


		    <div class="carousel-inner">


			{{ if len(results)==0: }}
			
				{{ srcattr=URL('static','img/no_images.png') }}
				<div class="item active display-view-img"><!-- class of active since it's the first item -->


					  <div style="background:url( {{ =srcattr }} ) center center; background-size:cover;" class="slider-size">

					      <div class="carousel-caption">
					         Email: <br/> Rebecca@ThreeMuses.Glass <br/> For Photos!	   
					      </div>
					      
					  </div>

					

				</div>

			{{ else: }}	



		  		{{for i in range(len(results)):}}
			  		{{if i == 0:}}
			    		<div class="product-item item active"><!-- class of active since it's the first item -->
			    	{{else:}}
			    		<div class="product-item item"><!-- class of active since it's the first item -->	
			    	{{pass}}

			    	{{if sqlite_tf:}}
					 {{srcattr=URL('download',results[i].s3_url)}}
				    {{else:}}
					 {{srcattr='https://s3.amazonaws.com/threemusesglass/site_images/'+results[i].s3_url}}
				    {{pass}}


				    <!--
				    ocbocb =A(IMG(_src=srcattr, _class="img-thumbnail", _alt="woops!"))ccbccb
			    	-->

 				{{ onErrorAttr = "this.onerror=null;this.src='"+URL('static','img/no_category_img.png')+"'" }}


				 <div class="slider-size image-container">

					<a href="{{ =URL('display', args=[category_rows[j].category_name.replace(" ","_")]) }}">

						<img src="{{ =srcattr }}" class="img-responsive" alt="{{ =category_rows[j].category_name }}" onError="{{ =onErrorAttr }}">

					</a>

				</div>




			      			<!--<div class="carousel-caption">
			        			<p>YO!</p>
							=URL('download',results[i].image)

			      				</div>-->


			  		{{if i == 0:}}
			    		</div>
			    	{{else:}}
			    		</div>
			    	{{ pass }}

			    {{ pass }}

		   	{{ pass }}
		  
		    </div><!-- /.carousel-inner -->
		  	<!--  Next and Previous controls below href values must reference the id for this carousel -->
		    <!--
		    <a class="carousel-control left" href="#product-carousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#product-carousel" data-slide="next">&rsaquo;</a>
			-->

			<a class="left carousel-control" href="javascript:void(0)" 
			     data-slide="prev" data-target="#product-carousel-{{ =j }}">
			<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="javascript:void(0)" 
			     data-slide="next" data-target="#product-carousel-{{ =j }}">
			<span class="glyphicon glyphicon-chevron-right"></span>
			</a>

		</div><!-- /.carousel -->

	</div><!-- close 4 width image div-->






	<div class='col-md-8'>

		<div class = 'product-header'>
			{{=product_row[j].product_name}}
		</div>

		<div class = 'product-description'>
			{{=product_row[j].description}}
		</div>
<!-- 
		<div class = 'product-cost'>
			Cost: ocbocb =product_row[j].cost_USD ccbccb
		</div>
		 -->
		<div class = 'product-controls'>

		{{if product_row[j].qty_in_stock==0:}}

			This product is sold out!

		{{else:}}

			{{=cart_form}}

		{{pass}} <!--End if checking for qty-->

		</div>
		

	</div>




{{pass}}

		</div>
	</div>
</div>


{{ include 'category_footer.html' }}
