{{extend 'layout.html'}}

<div class="container-fluid style1 tmg_auth-container-fluid">

	<div class='container'>

		<h2 class="align-hcenter">Profile</h2>


		<div class="row profile-row">

			<div class="col-md-offset-4 col-md-4">

				<div id="web2py_user_form" class="profile tmg_auth_form_container">

					{{=form}}

				</div>

			</div>

		</div>

		<div class="row tmg-auth-button-row tmg-auth-purchase-history-button">
			<div class="col-md-offset-4 col-md-4 tmg-auth-button-col">
				<a href="{{ =URL('view_purchase_history') }}"><button class="btn btn-warning">Purchase History</button></a>
			</div>
		</div>


		<div class="row tmg-auth-button-row">
			<div class="col-md-offset-4 col-md-4 tmg-auth-button-col">
				<a href="{{ =URL('change_password') }}"><button class="btn btn-warning">Change Password</button></a>
			</div>
		</div>

	</div>

</div>