<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ThreeMusesGlass</title>
  </head>
  <body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">&#13;
&#13;
&#13;
&#13;
<!-- body -->&#13;
<table class="body-wrap main-table" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 20px 20px 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"></td>&#13;
		<td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 5px 20px; border: 1px solid #443266;">&#13;
&#13;
			<!-- content -->&#13;
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 600px; display: block; margin: 0 auto 20px; padding: 0;">&#13;
&#13;
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">&#13;
&#13;
							<h2 class="halign" style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; color: #000; font-weight: 200; text-align: center; margin: 15px 0; padding: 0;" align="center">Thank you for shopping with <a class="brand-link" href="https://www.threemuses.glass" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; text-decoration: none; color: #0099CC; margin: 0; padding: 0;">ThreeMusesGlass</a></h2>&#13;
&#13;
							<h3 class="halign confirmation-orderid" style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; text-align: center; border-radius: 10px; background-color: #C3C3E5; margin: 15px 10px; padding: 10px 0;" align="center">Your Order # is: <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">{{ =purchase_history_data_row.payment_invoice_number }}</strong></h3>&#13;
&#13;
&#13;
&#13;
							<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td class="td-summary-pane" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block; margin: 0; padding: 0;">&#13;
&#13;
										<div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: relative; text-align: center; margin: 10px 10px 20px; padding: 0 0 5px; border: 1px solid #c3c3e5;" align="center">&#13;
											<img class="header_icon" src="https://s3.amazonaws.com/threemusesglass/icons/AddressIcon.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 100%; width: 30px; height: 30px; position: absolute; top: -15px; right: -15px; z-index: 10; margin: 0; padding: 0;" /><div class="summary-pane-img-background" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: absolute; top: -15px; right: -15px; height: 30px; width: 30px; background-color: #FFFFFF; margin: 0; padding: 0;">&#13;
											</div>&#13;
&#13;
											<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; border-bottom-color: #C3C3E5; border-bottom-style: solid; border-bottom-width: 1px; margin: 0 0 5px; padding: 5px 0;">Shipping To</h3>&#13;
&#13;
											{{ =purchase_history_data_row.shipping_street_address_line_1 }} {{ =purchase_history_data_row.shipping_street_address_line_2 }}&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											{{ =purchase_history_data_row.shipping_municipality }}, {{ =purchase_history_data_row.shipping_administrative_area }} {{ =purchase_history_data_row.shipping_postal_code }}&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											{{ =purchase_history_data_row.shipping_country }}&#13;
										</div>&#13;
&#13;
									</td>&#13;
									<td class="td-summary-pane summary-pane-margin-bottom-mobile-10" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block; margin: 0 0 8px; padding: 0;">&#13;
&#13;
										<div class="summary-pane-margin-bottom-mobile" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: relative; text-align: center; margin: 10px 10px 0; padding: 0 0 5px; border: 1px solid #c3c3e5;" align="center">&#13;
&#13;
											<img class="header_icon" src="https://s3.amazonaws.com/threemusesglass/icons/ShippingIcon.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 100%; width: 30px; height: 30px; position: absolute; top: -15px; right: -15px; z-index: 10; margin: 0; padding: 0;" /><div class="summary-pane-img-background" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: absolute; top: -15px; right: -15px; height: 30px; width: 30px; background-color: #FFFFFF; margin: 0; padding: 0;">&#13;
											</div>&#13;
&#13;
											<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; border-bottom-color: #C3C3E5; border-bottom-style: solid; border-bottom-width: 1px; margin: 0 0 5px; padding: 5px 0;">Shipping Details</h3>&#13;
&#13;
											Carrier: {{ =purchase_history_data_row.easypost_shipping_carrier }} - {{ =purchase_history_data_row.easypost_shipping_service }}&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											Estimated Arrival Date: &#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											{{ =purchase_history_data_row.easypost_delivery_date_text }}&#13;
										</div>&#13;
&#13;
									</td>&#13;
								</tr><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td class="td-summary-pane" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block; margin: 0; padding: 0;">&#13;
&#13;
										<div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: relative; text-align: center; margin: 10px 10px 20px; padding: 0 0 5px; border: 1px solid #c3c3e5;" align="center">&#13;
&#13;
											<img class="header_icon" src="https://s3.amazonaws.com/threemusesglass/icons/PaymentIcon.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 100%; width: 30px; height: 30px; position: absolute; top: -15px; right: -15px; z-index: 10; margin: 0; padding: 0;" /><div class="summary-pane-img-background" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: absolute; top: -15px; right: -15px; height: 30px; width: 30px; background-color: #FFFFFF; margin: 0; padding: 0;">&#13;
											</div>&#13;
&#13;
											<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; border-bottom-color: #C3C3E5; border-bottom-style: solid; border-bottom-width: 1px; margin: 0 0 5px; padding: 5px 0;">Payment Method</h3>&#13;
											&#13;

											{{ if purchase_history_data_row.payment_service=='stripe': }}

												Stripe

											{{ elif purchase_history_data_row.payment_service=='paypal': }}

												Paypal

											{{ pass }}

											&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											Associated Email:&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											{{ =purchase_history_data_row.payment_email_address }}
											&#13;
										</div>&#13;
&#13;
									</td>&#13;
									<td class="td-summary-pane summary-pane-margin-bottom-mobile-10" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block; margin: 0 0 8px; padding: 0;">&#13;
&#13;
										<div class="summary-pane-margin-bottom-mobile" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: relative; text-align: center; margin: 10px 10px 0; padding: 0 0 5px; border: 1px solid #c3c3e5;" align="center">&#13;
											<img class="header_icon" src="https://s3.amazonaws.com/threemusesglass/icons/SummaryIcon.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 100%; width: 30px; height: 30px; position: absolute; top: -15px; right: -15px; z-index: 10; margin: 0; padding: 0;" /><div class="summary-pane-img-background" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: absolute; top: -15px; right: -15px; height: 30px; width: 30px; background-color: #FFFFFF; margin: 0; padding: 0;">&#13;
											</div>&#13;
&#13;
											<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; border-bottom-color: #C3C3E5; border-bottom-style: solid; border-bottom-width: 1px; margin: 0 0 5px; padding: 5px 0;">Cost Summary</h3>&#13;
											&#13;
											Product Subtotal: ${{ =purchase_history_data_row.cart_base_cost }}&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											Shipping Cost: ${{ =purchase_history_data_row.cart_shipping_cost }}&#13;
											<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;" />&#13;
											Total Amount: ${{ =purchase_history_data_row.cart_total_cost }}&#13;
										</div>&#13;
&#13;
									</td>&#13;
								</tr></table><table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td class="td-summary-pane" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block; margin: 0; padding: 0;">&#13;
&#13;
										<div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; position: relative; text-align: center; margin: 10px 10px 20px; padding: 0 0 5px; border: 1px solid #c3c3e5;" align="center">&#13;
&#13;
											<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 22px; color: #000; font-weight: 200; border-bottom-color: #C3C3E5; border-bottom-style: solid; border-bottom-width: 1px; margin: 0 0 5px; padding: 5px 0;">&#13;
												<img class="header_icon" src="https://s3.amazonaws.com/threemusesglass/icons/ProductIcon.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 100%; width: 30px; height: 30px; position: absolute; top: -15px; right: -15px; z-index: 10; margin: 0; padding: 0;" />&#13;
												Items Purchased&#13;
											</h3>&#13;
&#13;
											<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 0;">

												{{ for }}

												<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														eCig Drip Tip Jade&#13;
													</td>&#13;
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														$25.00&#13;
													</td>&#13;
												</tr>


<!-- 												<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														eCig Drip Tip Black&#13;
													</td>&#13;
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														$25.00&#13;
													</td>&#13;
												</tr>


												<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														Fairly Long Prodyct Name Fliggityba&#13;
													</td>&#13;
													<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0 3px;">&#13;
														$25.00&#13;
													</td>&#13;
												</tr> -->

											</table>

										</div>&#13;
&#13;
									</td>&#13;
&#13;
								</tr></table><p class="halign" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; text-align: center; margin: 0; padding: 0;" align="center">Have a fantastic day. Come back soon!</p>&#13;
&#13;
						</td>&#13;
&#13;
					</tr></table></div>&#13;
			<!-- /content -->&#13;
			&#13;
		</td>&#13;
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"></td>&#13;
	</tr></table><!-- /body --><!-- footer --><table class="footer-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; clear: both !important; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"></td>&#13;
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 5px 20px;">&#13;
			&#13;
			<!-- content -->&#13;
			<div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; max-width: 600px; display: block; margin: 0 auto 20px; padding: 0;">&#13;
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;">&#13;
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; color: #666; font-weight: normal; margin: 0; padding: 0;">&#13;
								You have recieved this email because a purchase was made at ThreeMusesGlass with this email address. If you think this email was sent in error or you have any questions/concerns please email Admin@threemuses.glass. &#13;
							</p>&#13;
						</td>&#13;
					</tr></table></div>&#13;
			<!-- /content -->&#13;
			&#13;
		</td>&#13;
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; margin: 0; padding: 0;"></td>&#13;
	</tr></table><!-- /footer --></body>
</html>
