{{extend 'layout.html'}}

<div class="container-fluid style2">

	<div class='container'>

		<div class="row confirmation-row">

			<div class="col-md-offset-2 col-md-8 confirmation-col confirmation-col-main">

				<h1 class="confirmation-thankyou">Thank you for shopping at <br>ThreeMusesGlass!</h1>

				<h3 class="confirmation-orderid">Your Order # is: <strong>{{ =purchase_history_data_row.payment_invoice_number }}</strong></h3>
			
			</div>



<!-- 			<div class="col-md-offset-2 col-md-8 confirmation-col">
				
				<h3 class="confirmation-finalmsg">Below are the details of your order:</h3>

			</div> -->

		</div>

	</div>

</div>
















<!-- An order summary so customer can see while they pay -->
<div class="container-fluid style1" id="order-summary">
	<div class='container'>

<!-- If there is no error in the cart then proceed (Otherwise show pretty much nothing here) -->
{{ if False==False: }}

		<div class="row checkout-row">
		  	<div class="col-md-offset-2 col-md-8 checkout-summary-header">
		  		<h2>Order Details</h2>
		  	</div>
		</div>

	<!-- For each item in the cart -->
	{{ for i in range(len(purchase_history_products_rows)): }}
				
		<div class="row checkout-row">
		  	<div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-product-container" >

			  	<hr class="checkout-horizontal-dotted-line">

				<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-3">
					<div > <!-- For vertically centering -->
						<div> <!-- for background color -->
							{{ =purchase_history_products_rows[i].product_name }}
						</div>
					</div>
				</div>

				<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-3">
					<div > <!-- For vertically centering -->
						<div>
							${{ ="%.2f" % purchase_history_products_rows[i].cost_USD }}
						</div>
					</div>
				</div>

		  	</div>
		</div>

	{{pass}} <!-- For the cart for loop -->

		<!-- The cart subtotal row is next -->
		<div class="row checkout-row">
		  	<div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

			  	<hr class="checkout-horizontal-dotted-line">

				<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-2">
					<div>
						<div>
							Item Subtotal
						</div>
					</div>
				</div>

				<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-2">

					<div>
						<div>
							${{ =purchase_history_data_row.cart_base_cost }}
						</div>
					</div>
				</div>

		  	</div>
		</div>



		<!-- This begins the mammouth shipping row -->
		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

	<!-- If there is not a problem with the shipping info -->				
	{{ if False==False: }}

		<!-- Also not a problem with the address info, then proceed -->
		{{ if False==False: }}

		  	<hr class="checkout-horizontal-dotted-line checkout-horizontal-dotted-line-shipping">

			<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-2">
				<div>
					<div>

						<div>
							{{ =purchase_history_data_row.easypost_shipping_carrier }} 
							{{ =purchase_history_data_row.easypost_shipping_service }}
							Shipping (Est. {{ =purchase_history_data_row.easypost_delivery_date_text }}) To:
						</div>




						<div class="checkout-summary-address-container">
							<div >

					  			<div >
						          	{{ =purchase_history_data_row.shipping_name_first }}
						          	{{ =purchase_history_data_row.shipping_name_last }}
					          	</div>
									          	
					          	<div >
						          	{{ =purchase_history_data_row.shipping_street_address_line_1 }}
						          	{{ =purchase_history_data_row.shipping_street_address_line_2 }}
					          	</div>

					          	<div >
						          	{{ =purchase_history_data_row.shipping_municipality }},
						          	{{ =purchase_history_data_row.shipping_administrative_area }}
						          	{{ =purchase_history_data_row.shipping_postal_code }}
					          	</div>

					          	<div >
					          		{{ =purchase_history_data_row.shipping_country }}
					          	</div>

					        </div>
					    </div>	
					



					</div>
				</div>
			</div>

			<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-2 checkout-summary-shipping-cost">
				<div>
					<div>
						${{ =purchase_history_data_row.cart_shipping_cost }}
					</div>
				</div>
			</div>



		{{ else: }} <!-- For the address error if -->
			<div >
				No address info found
			</div>
		{{ pass }} <!-- For the address error if -->


	{{ else: }} <!-- For the shipping error if -->
			<div >
				No shipping info found
			</div>
	{{ pass }} <!-- For the shipping error if -->


		  </div>
		</div> <!-- This ends the mammouth shipping row -->



		<!-- Start the grand total row -->
		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

			  	<hr class="checkout-horizontal-dotted-line checkout-horizontal-dotted-line-total">

				<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-1">
					<div>
						<div>
							Total Cost
						</div>
					</div>
				</div>

				<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-1 checkout-summary-total-cost">
					<div>
						<div>
							${{ =purchase_history_data_row.cart_total_cost }}
						</div>
					</div>
				</div>

		  </div>
		</div> <!-- Close the total row -->



		<!-- Start the payment method row -->
		<div class="row checkout-row">
		  <div class="col-md-offset-2 col-md-8 checkout-summary-line-item-container checkout-summary-subtotal-container" >

			  	<hr class="checkout-horizontal-dotted-line checkout-horizontal-dotted-line-total">

				<div class="col-md-8 checkout-summary-item checkout-summary-left checkout-summary-left-tier-1">
					<div>
						<div>
							Payment Source
						</div>
					</div>
				</div>

				<div class="col-md-offset-2 col-md-2 checkout-summary-item checkout-summary-cost checkout-summary-cost-tier-1 checkout-summary-total-cost">
					<div>
						<div>
							
						{{ import json }}
						
						{{ minimal_confirmation_info=json.loads(purchase_history_data_row.payment_minimal_confirmation_info)}}

							{{ if purchase_history_data_row.payment_service=='stripe': }}

								{{ if minimal_confirmation_info['source_object']=='card': }}

									{{ =minimal_confirmation_info['brand'] }}
									-
									{{ =minimal_confirmation_info['last4'] }}

								{{ elif minimal_confirmation_info['source_object']=='bitcoin_reciever': }}

									{{ =minimal_confirmation_info['bitcoin_id'] }}

								{{ else: }}

									N/A

								{{ pass }}

							{{ elif purchase_history_data_row.payment_service=='paypal': }}

								Paypal

							{{ pass }}

							
							
						</div>
					</div>
				</div>

		  </div>
		</div> <!-- Close the payment method row -->



{{ else: }}
		<div class="row checkout-row">
		  	<div class="col-md-offset-2 col-md-8 checkout-summary-error">
				No cart information found. 
			</div>					
		</div>
{{ pass }}

	</div> <!-- close container -->
</div> <!-- close order detail summary fluid container -->

