{{extend 'layout.html'}}


<!--###############-->
<!-- CHECKOUT CART -->
<!--###############-->

<div class="container-fluid style1">

	<div class='container'>

{{ if cart_information['error']==False: }}


		<div class="row cart-view-cart-row">

		  <h2 class="checkout-view-payment-group-header">Cart Items</h2>
	{{ for i in range(len(cart_information['information_LOD'])): }}



			<div class="col-md-1 col-md-offset-2 cart-view-cart-item-tn">
				{{ =cart_information['information_LOD'][i]['product_image_url'] }}
			</div>

						
			<div class="col-xs-8 col-md-6 cart-view-cart-item-name cart-view-cart-row-child">

				<div> <!-- For vertically centering -->
					{{ =cart_information['information_LOD'][i]['product_name'] }}
				</div>

			</div>

			<div class="col-xs-4 col-md-1 cart-view-cart-item-cost cart-view-cart-row-child">

				<div> <!-- For vertically centering -->
					{{ =cart_information['information_LOD'][i]['product_cost'] }}
				</div>

			</div>


	{{pass}}
		</div>





{{ else: }}

		<div class="row">

			<div class="col-md-8 col-md-offset-2 align-hcenter cart-view-error-text-container">

				{{ =cart_information['error_message'] }}

			</div>

		</div>

{{ pass }}

	</div>

</div>





<!-- 
<div class="conatiner-fluid style2">

	<div class='container'>

		<div class='muses_checkout' id = "checkout_addresses">
			<h1>Shipping Address</h1>
			{{=address_information}}
		</div>

	</div>

</div>
 -->





<!--##################-->
<!-- CHECKOUT ADDRESS -->
<!--##################-->

<div class="container-fluid style2">

	<div class='container'>

{{ if address_information['error']==False: }}

	{{ for i in range(len(address_information['information_LOD'])): }}

		<div class="row cart-view-payment-row">

			<div class="col-md-offset-2 col-md-8 checkout-view-payment-group-container">

				<h2 class="checkout-view-payment-group-header">Address Details</h2>
				<hr class="checkout-view-hr">

				<div class="align-hcenter cart-view-card-container">

		  			<div class="cart-view-address-info-child">
		          	{{ =address_information['information_LOD'][i]['first_name'] }}
		          	{{ =address_information['information_LOD'][i]['last_name'] }}
		          	</div>
						          	
		          	<div class="cart-view-address-info-child">
		          	{{ =address_information['information_LOD'][i]['street_address_line_1'] }}
		          	{{ =address_information['information_LOD'][i]['street_address_line_2'] }}
		          	</div>

		          	<div class="cart-view-address-info-child">
		          	{{ =address_information['information_LOD'][i]['municipality'] }},
		          	{{ =address_information['information_LOD'][i]['administrative_area'] }}
		          	{{ =address_information['information_LOD'][i]['postal_code'] }}
		          	</div>

		          	<div class="cart-view-address-info-child">
		          	{{ =address_information['information_LOD'][i]['country'] }}
		          	</div>

		        </div>

		        <hr class="checkout-view-hr">
		        <br>
		        <br>

		    </div> <!-- Close the div that can be clicked to pick shipping address -->

		</div>			
					

	{{pass}}  <!--For the for loop-->

{{ else: }}


		<div class="row">

			<div class="col-md-8 col-md-offset-2 align-hcenter cart-view-error-text-container">

				{{ =address_information['error_message'] }}

			</div>

		</div>

{{ pass }}

	</div>

</div>











<!--###################-->
<!-- CHECKOUT SHIPPING -->
<!--###################-->



<div class="conatiner-fluid style1">

	<div class='container'>

		<div class='row cart-view-payment-row' id = "checkout_summary"> 

			<div class="col-md-offset-2 col-md-8 checkout-view-payment-group-container">

				<h2 class="checkout-view-payment-group-header">Shipping Details</h2>
				<hr class="checkout-view-hr">

				<div class="align-hcenter cart-view-card-container">


                {{ if shipping_information['error']==False: }}
                        

                    <div class="col-xs-7 col-md-7 cart-view-shipping-row-subset">


                        <div class="col-md-5 vert-hori-center-parent">
                            <div class="vert-hori-center-child">
                                {{ =shipping_information['information_LOD'][0]['carrier'] }}
                            </div>
                        </div>


                        <div class="col-md-7">
                            <div class="vert-hori-center-child">
                                {{ =shipping_information['information_LOD'][0]['service'] }}
                            </div>
                        </div>


                    </div>


                    <div class="col-xs-5 col-md-5 cart-view-shipping-row-subset">


                        <div class="col-md-4">
                            <div class="vert-hori-center-child">
                                {{ =shipping_information['information_LOD'][0]['cost'] }}
                            </div>
                        </div>


                        <div class="col-md-8">
                            <div class="vert-hori-center-child">
                                {{ =shipping_information['information_LOD'][0]['delivery_date'] }}
                            </div>
                        </div>


                    </div>

                   {{ else: }}

                   		{{ =shipping_information['error_message']}}

                   {{pass}}

               	</div>

               	<hr class="checkout-view-hr">
               	<br>
               	<br>

            </div>

		</div>

	</div>

</div>





<!--###################-->
<!-- CHECKOUT PAYMENT -->
<!--###################-->

<div class="container-fluid style2">

	<div class='container'>

		<!-- This holds the card options -->
		<div class='row cart-view-payment-row'> 

			<div class="col-md-offset-2 col-md-8 checkout-view-payment-group-container">

				<h2 class="checkout-view-payment-group-header">Payment Details</h2>
				<hr class="checkout-view-hr">

				<div class="align-hcenter cart-view-card-container">

				{{ if payment_information['error']: }}

					<div class="cart-view-error-text-container">
						{{ =payment_information['error_message'] }}
					</div>

				{{ else: }}

					{{ if session.payment_method[:4]=='card': }}

						{{ for i in range(len(payment_information['information_LOD'])): }}

						<!-- This hold the card and the popover with controls -->
						<div>
							<div class="col-md-offset-3 col-md-6 cart-view-payment-card-container cart-view-payment-option">

								<div class="cart-view-payment-card-cardnumber">
									XXXX-XXXX-XXXX-{{ =payment_information['information_LOD'][i]['card_last4'] }}
								</div>

								<div class="cart-view-payment-card-expiration">
									{{ =payment_information['information_LOD'][i]['card_exp_mo'] }} /
									{{ =payment_information['information_LOD'][i]['card_exp_year'] }}
								</div>

								<div class="col-xs-6 cart-view-payment-card-cardname">
									{{ =payment_information['information_LOD'][i]['card_name'] }}
								</div>

								<div class="cart-view-payment-card-cardbrand">
									{{ =payment_information['information_LOD'][i]['card_brand'] }}
								</div>

							</div> <!--Close cart-view-payment-card-container-->


						</div>

						{{ pass }}

					{{ elif session.payment_method=='paypal': }}

						<div>
							<div class="col-md-offset-3 col-md-6 cart-view-payment-card-container cart-view-payment-option">

								Paypal

							</div> <!--Close cart-view-payment-card-container-->

						</div>


					{{ else: }}

						<div>
							<div class="col-md-offset-3 col-md-6 cart-view-payment-card-container cart-view-payment-option">

								Please go back to the payment screen and select a valid payment

							</div> <!--Close cart-view-payment-card-container-->

						</div>

					{{ pass }}

				{{ pass }}

				</div>

				<hr class="checkout-view-hr">
				<br>
				<br>

			<!-- Close offset div -->
			</div> 

		<!-- Close row -->
		</div>

	</div>

</div>




<div class="conatiner-fluid style1">

	<div class='container'>

		<div class='row cart-view-payment-row' id = "checkout_summary"> 

			<div class="col-md-offset-2 col-md-8 checkout-view-payment-group-container">

				<h2 class="checkout-view-payment-group-header">Summary Details</h2>
				<hr class="checkout-view-hr">

				<div class="align-hcenter cart-view-card-container">
			
					{{ =summary_information['information_LOD'][0]['cart_cost_USD'] }}

					{{ =summary_information['information_LOD'][0]['shipping_cost_USD'] }}

					{{ =summary_information['information_LOD'][0]['total_cost_USD'] }}

				</div>

				<hr class="checkout-view-hr">
				<br>
				<br>

			</div>

		</div>

	</div>

</div>



<div class="conatiner-fluid style2">

	<div class='container'>

		<div class='row' id = 'checkout_pay_button_div'>


			<div class="col-md-offset-2 col-md-3">
				<a class="btn btn-success checkout-view-payment-btn" href="{{ =URL('cart') }}">Back to Cart</a>
			</div>


			<div class="col-md-offset-7 col-md-3">
			{{ if payment_information['information_LOD'][0]['payment_method']=='stripe':}}
				<a class="btn btn-success checkout-view-payment-btn" href="{{=payment_information['information_LOD'][0]['approval_url']}}">Pay</a>
			{{elif payment_information['information_LOD'][0]['payment_method']=='paypal':}}
				<a class="btn btn-success checkout-view-payment-btn checkout-view-paypal-btn" href="{{=payment_information['information_LOD'][0]['approval_url']}}" target="_blank">Pay with Paypal</a>
			{{ else: }}
				<a class="btn btn-success checkout-view-payment-btn" href="#">Something is wrong!</a>
			{{pass}}
			

			</div>

		</div>

	</div>

</div>