{{extend 'layout.html'}}

<h1>Buy something for $20</h1>
<form enctype="multipart/form-data" action="{{=URL('pay_stripe')}}" method="post" id="payment-form">
    <button id="customButton">Purchase</button>
</form>




<button type="button" class="btn footer-modal-btn" data-toggle="modal" data-target="#please-wait-stripe" id="please-wait-stripe-btn">
  Please Wait
</button>



<!-- Modal -->
<div class="modal fade" id="please-wait-stripe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-please-wait">
    <div class="modal-content modal-content-please-wait">
      <div class="modal-header modal-header-please-wait">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <!-- <h2 class="modal-title" id="myModalLabel">Please Wait</h2> -->
      </div>
      <div class="modal-body modal-body-please-wait">
        <h3 class="modal-body-header-please-wait"> 
          PLEASE WAIT 
          <img src="static/img/squares_transparent.gif" style="width: 40px;">
        </h3>
        
      </div>
      <div class="modal-footer modal-footer-please-wait">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>