





/* General Auth Page Styles */

/*Give form some room at the bottom */
.tmg-auth-form-container{
	margin-bottom:40px;
}

.tmg-auth-form-container table{
	width:100%;
}

/*This artifically gives the input field the bootstrap form-control styles*/
/*I should probably use JS to actually assign it the form-control class in addition to this*/
/*So that it loads properly, then also behaves properly*/
.tmg-auth-form-container form table tbody tr td input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tmg-auth-form-container form table tbody tr#submit_record__row td.w2p_fw input{

	/* btn info class */
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #28a4c9;
}

.tmg-auth-form-container-row #web2py_user_form{
	margin-bottom:3em;
}

.tmg-auth-form-container form table tbody tr td label{
	/*text-align: right;*/
	/*width:100%;*/
}

.tmg-auth-form-container form table tbody tr td.w2p_fl{
	/*padding-right:10px;*/
}

.tmg-auth-form-container .error{
	height:2em;
	line-height: 2em;

	/* btn-danger */
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}

.tmg-auth-button-col button{
	width:100%;
	margin-bottom:5px;
}

.tmg-auth-col{
	padding-left:0;
	padding-right:0;
}

.tmg-auth-col .w2p_fl{
	width:100%;
	display:inline-block;
	text-align: left;
}

.tmg-auth-col .w2p_fw{
	width:100%;
	display:inline-block;
	padding-bottom: 10px;
}

.tmg-auth-col tr{
	margin-bottom: 5px;
}

.tmg-auth-col tr:last-child .w2p_fl{
	display:none;
}

@media screen and (min-width: 992px) {

	.tmg-auth-form-container-row div{
	   padding-right: 0; 
	   padding-left: 0; 
	}

	.tmg-auth-form-container-container-fluid{
		padding-bottom:6em;
	}

	.tmg-auth-button-col{
		padding-left: 0;
		padding-right: 0;
	}

}

@media screen and (max-width: 992px) {

	.tmg-auth-form-container form table tbody tr td{
		display:inline;
	}

	.tmg-auth-form-container form table tbody tr td label{
		/*text-align: center;*/
		width:100%;
	}

	.tmg-auth-form-container-container-fluid{
		padding-bottom:6em;
	}

	.tmg-auth-form-container form table tbody tr#submit_record__row td.w2p_fw input{
/*		position:inherit;
		margin-top:20px;*/
	}

}




/* Specific to Change Password */
body#change_password{
	background-color: #0099CC;
}




/* Specific to Login */
body#login{
	background-color: #0099CC;
}

body#login .w2p_fl{
	/*display:none;*/
}




/* Specific to Profile */
body#profile{
	background-color: #0099CC;
}




/* Specific to Register */
body#register{
	background-color: #0099CC;
}


body#register tr#auth_user_password_two__row .w2p_fc{
	display:none;
}



/* Specific to Reset Password */
body#reset_password{
	background-color: #0099CC;
}



/* Specific to Request Reset Password */
body#request_reset_password{
	background-color: #0099CC;
}



/*Specific to address form */
body#address{
	background-color:#0099CC;
}

.address-view-combo-box{
	width:100%;
	height:35px;
}

body#address tr:last-child td .btn{
	width:50%;
}




/* Specific to Confirmation Profile Form*/

body#confirmation #auth_user_first_name__row{
	display:none;
}

body#confirmation #auth_user_last_name__row{
	display:none;
}







/* View Purchase History */

.web2py_breadcrumbs ul li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.web2py_breadcrumbs ul{
	padding-left:0;
}

.web2py_breadcrumbs a {
	color:black;
}

.web2py_breadcrumbs {
	/*margin-top:20px;*/
}

.web2py_grid{
	background-color: #F1F0FF;
	padding: 20px;
	margin-top: 20px;
	margin-bottom:20px;

	overflow-x: scroll;
}

.web2py_table th a{
	color:black;
}

.web2py_table th{
	text-align: center;
}

.w2p_export_menu{
	margin-top:20px;
	text-align: right;
}

.web2py_grid .form_header{
	margin-bottom: 20px;
}


.view-purchase-history-profile-button-row{
	margin-bottom: 20px;
}

body#view_purchase_history{
	background-color: #8C489F;
}

body#view_purchase_history .web2py_table{
	background-color:#F1F0FF;
}

body#view_purchase_history thead{
	background-color:#0099CC;
	color:black;
}

body#view_purchase_history th{
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	padding-left:10px;
}

body#view_purchase_history td{
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	padding-left:10px;
}





body#manage_products_new img{
	width:200px;
	display: inline;
}


.tmg-admin-header{
	text-align: center;
}


table#db_admin tbody tr:not([role=row]) td{
	position: relative;
}

.dropzone_div{
	position: absolute;
	height: 95%;
}