.in-cart-box {
/*  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;*/
}
.in-cart-ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  /*width: 200px; height: 200px;*/
  text-align: right;
}
.in-cart-ribbon span {

  /*original*/

  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#006699 0%, #0099CC 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;

  /*bigger*/
  /*font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  transform: rotate(-45deg);
  width: 283px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#006699 0%, #0099CC 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 63px;
  left: -56px;*/
}
.in-cart-ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #0099CC;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0099CC;
}
.in-cart-ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #0099CC;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0099CC;
}