/* WEB2PY AUTH STYLES */
#web2py_user_form{
	text-align: center;
}

.display_inline_block_class{
	display:inline-block;
}

.display_none_class{
	display:none;
}

#web2py_user_form form table{
	width:100%;
}

.user-view-button-width-50-percent{
	width:50%;
}

@media screen and (min-width: 992px) {

	.user-view-button-width-50-percent{
		margin-top:35px;
	}

}

@media screen and (max-width: 992px) {

}




/* Register Page Styles */

.register form table tbody tr td input{
  /*display: block;*/
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.register form table tbody tr#auth_user_password_two__row td.w2p_fc{
	display:none;
}

.register form table tbody tr#submit_record__row td.w2p_fl{
	display:none;
}

.register form table tbody tr#submit_record__row td.w2p_fw{
	display: inline-block;
	width: 100%;
}

.register form table tbody tr#submit_record__row td.w2p_fw input{

	/* btn info class */
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #28a4c9;
	}

.register form table tbody tr td label{
/*	text-align: right;
	width:100%;*/
	display:none;
}

.register form table tbody tr td.w2p_fl{
	/*padding-right:10px;*/
}

body#register{
	background-color: #C3C3E5;
}


body#register .error{

	height:2em;
	line-height: 2em;

	/* btn-danger */
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}


@media screen and (min-width: 992px) {

	.register-row div{

	   padding-right: 0; 
	   padding-left: 0; 

	}

	.register-container-fluid{
		padding-bottom:6em;
	}

	.register form table tbody tr#submit_record__row td.w2p_fw input{
		position:absolute;
	}

}

@media screen and (max-width: 992px) {

	.register form table tbody tr td{
		display:inline;
	}

	.register form table tbody tr td label{
		text-align: center;
		width:100%;
	}

	.register-container-fluid{
		padding-bottom:6em;
	}

	.register form table tbody tr#submit_record__row td.w2p_fw input{
		position:inherit;
		margin-top:20px;
	}

}
















/* Profile Page Styles */

.profile form table tbody tr td input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.profile form table tbody tr#auth_user_password_two__row td.w2p_fc{
	display:none;
}

.profile form table tbody tr#submit_record__row td.w2p_fl{
	display:none;
}

.profile form table tbody tr#submit_record__row td.w2p_fw{
	display: inline-block;
	width: 100%;
}

.profile form table tbody tr#submit_record__row td.w2p_fw input{

	/* btn info class */
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #28a4c9;
}

.profile-row #web2py_user_form{
	margin-bottom:3em;
}

.profile-view-purchase-history{
	text-align: right;
	text-decoration: none;
}

.profile-view-purchase-history a{
	width: 100%;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	text-align: center;
}

.profile form table tbody tr td label{
	text-align: right;
	width:100%;
}

.profile form table tbody tr td.w2p_fl{
	padding-right:10px;
}

body#profile{
	background-color: #C3C3E5;;
}


body#profile .error{

	height:2em;
	line-height: 2em;

	/* btn-danger */
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}


@media screen and (min-width: 992px) {

	.profile-row div{

	   padding-right: 0; 
	   padding-left: 0; 

	}

	.profile-container-fluid{
		padding-bottom:6em;
	}

	.profile form table tbody tr#submit_record__row td.w2p_fw input{
		position:absolute;
	}

}

@media screen and (max-width: 992px) {

	.profile form table tbody tr td{
		display:inline;
	}

	.profile form table tbody tr td label{
		text-align: center;
		width:100%;
	}

	.profile-container-fluid{
		padding-bottom:6em;
	}

	.profile form table tbody tr#submit_record__row td.w2p_fw input{
		position:inherit;
		margin-top:20px;
	}

}















/* login Page Styles */

.login form table tbody tr td input{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*.login form table tbody tr#auth_user_password_two__row td.w2p_fc{
	display:none;
}*/

/*.login form table tbody tr#submit_record__row td.w2p_fl{
	display:none;
}*/

/*.login form table tbody tr#submit_record__row td.w2p_fw{
	display: inline-block;
	width: 100%;
}*/

.login form table tbody tr#submit_record__row td.w2p_fw input[value='Login']{

	/* btn info class */
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #28a4c9;
}

.login input[type="checkbox"]{
	display:none !important;
}

.login form table tbody tr td label{
	display: none;
}

/*.login form table tbody tr td.w2p_fl{
	padding-right:10px;
}*/

body#login{
	background-color: #0099CC;;
}


body#login .error{

	height:2em;
	line-height: 2em;

	/* btn-danger */
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}


.login-error-message{
	border: 2px solid rgb(165, 0, 0);
	margin-top: 20px;
	height: 75px;
	line-height: 75px;
	font-size: 2em;
	color: #444;
	border-radius: 10px;
}


@media screen and (min-width: 992px) {

	.login-row div{

	   padding-right: 0; 
	   padding-left: 0; 

	}

	.login-container-fluid{
		padding-bottom:6em;
	}

	.login form table tbody tr#submit_record__row td.w2p_fw input{
		position:absolute;
	}

}

@media screen and (max-width: 992px) {

	.login form table tbody tr td{
		display:inline;
	}

	.login form table tbody tr td label{
		text-align: center;
		width:100%;
	}

	.login-container-fluid{
		padding-bottom:6em;
	}

	.login form table tbody tr#submit_record__row td.w2p_fw input{
		position:inherit;
		margin-top:20px;
	}

}













/* request_reset_password Page Styles */

.request_reset_password form table tbody tr td input{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*.request_reset_password form table tbody tr#auth_user_password_two__row td.w2p_fc{
	display:none;
}*/

/*.request_reset_password form table tbody tr#submit_record__row td.w2p_fl{
	display:none;
}*/

/*.request_reset_password form table tbody tr#submit_record__row td.w2p_fw{
	display: inline-block;
	width: 100%;
}*/

.request_reset_password input[value='Request reset password']{

	margin-top:10px;

	/* btn info class */
	background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #28a4c9;
}

/*.request_reset_password input[type="checkbox"]{
	display:none !important;
}*/

.request_reset_password form table tbody tr td label{
	display: none;
}

/*.request_reset_password form table tbody tr td.w2p_fl{
	padding-right:10px;
}*/

body#request_reset_password{
	background-color:#0099CC;
}


body#request_reset_password .error{

	height:2em;
	line-height: 2em;

	/* btn-danger */
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}


@media screen and (min-width: 992px) {

/*	.request_reset_password-row div{

	   padding-right: 0; 
	   padding-left: 0; 

	}*/

	.request_reset_password-container-fluid{
		padding-bottom:4em !important;
	}

/*	.request_reset_password form table tbody tr#submit_record__row td.w2p_fw input{
		position:absolute;
	}*/

}

/*@media screen and (max-width: 992px) {

	.request_reset_password form table tbody tr td{
		display:inline;
	}

	.request_reset_password form table tbody tr td label{
		text-align: center;
		width:100%;
	}

	.request_reset_password-container-fluid{
		padding-bottom:6em;
	}

	.request_reset_password form table tbody tr#submit_record__row td.w2p_fw input{
		position:inherit;
		margin-top:20px;
	}

}*/


/* User After Purchase Forms */
#confirmation #auth_user_first_name__row{
	display:none;
}

#confirmation #auth_user_last_name__row{
	display:none;
}

/*#confirmation #no_table_old_password__row{
	display:none;
}*/

